@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Metal+Mania&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Expletus Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #88fcca;
}

.dark h1,
.dark h2,
.dark h3{
  color: #96e6b3;
}

.media-height {
  top: 5rem;
}

@media (min-height: 760px) {
  .media-height {
    top: 7rem;
  }
}

@media (min-height: 900px) {
  .media-height {
    top: 11rem;
  }
}
